/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}


/* Pause/Play */
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
    background: #ddd
}

.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a.flex-play:before {
    content: '\f003';
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 16px;
    text-align: center;
    line-height: 1em;
    z-index: 998;
}

.flex-control-nav li {
    margin: 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 50px;
    height: 5px;
    display: block;
    background: #fff;
    opacity: 0.6;
    cursor: pointer;
    text-indent: -9999px;
}

.flex-control-paging li a:hover {
    background: #fff;
}

.flex-control-paging li a.flex-active {
    background: #1817ba;
    cursor: default;
    opacity: 0.6;
}


.flex-direction-nav {
    height: 0px;
}

.flex-nav-prev {
    position: absolute;
    left: 4%;
    top: 50%;
    z-index: 9999;
}

.flex-nav-prev a {
    display: block;
    height: 57px;
    width: 57px;
    line-height: 2000px;
    overflow: hidden;
    margin-top: -29px;
    opacity: 1;
    background: url(../images/banl.png) center center no-repeat;
}

.flex-nav-next {
    position: absolute;
    right: 4%;
    top: 50%;
    z-index: 9999;
}

.flex-nav-next a {
    display: block;
    height: 57px;
    width: 57px;
    line-height: 2000px;
    overflow: hidden;
    margin-top: -29px;
    opacity: 1;
    background: url(../images/banr.png) center center no-repeat;
}

.flexslider:hover .flex-nav-prev a {
    background: url(../images/banls.png) center center no-repeat;
}

.flexslider:hover .flex-nav-next a {
    background: url(../images/banrs.png) center center no-repeat;
}

.banner {
    position: relative;
}


@media (min-width: 320px) and (max-width: 630px) {
    .flex-control-nav {
        bottom: 5px;
    }

    .flex-control-nav li {
        margin: 0 2px;
    }

    .flex-control-paging li a {
        width: 30px;
        height: 3px;
    }

    .flex-direction-nav {
        height: 0px;
    }

    .flex-nav-prev {
        position: absolute;
        left: 10px;
        top: 50%;
        z-index: 9999;
    }

    .flex-nav-prev a {
        display: block;
        height: 28px;
        width: 28px;
        margin-top: -14px;
        background: url(../images/banl.png) center center no-repeat;
        background-size: 28px 28px;
    }

    .flex-nav-next {
        position: absolute;
        right: 10px;
        top: 50%;
        z-index: 9999;
    }

    .flex-nav-next a {
        display: block;
        height: 28px;
        width: 28px;
        margin-top: -14px;
        background: url(../images/banr.png) center center no-repeat;
        background-size: 28px 28px;
    }

    .flexslider:hover .flex-nav-prev a {
        background: url(../images/banls.png) center center no-repeat;
        background-size: 28px 28px;
    }

    .flexslider:hover .flex-nav-next a {
        background: url(../images/banrs.png) center center no-repeat;
        background-size: 28px 28px;
    }

}